.container{
  color: #605c5c;
}

header{
    background-image: url('./resources/img/background.jpg');
    background-size: cover;
    color: #fff0f2;
}

main{
  margin: 50px;
}

footer{
  margin: 50px;
}

.interlink-btn{
  background-color: #f6435d;
  color: #fff0f2;
  text-transform: uppercase;
}

.shrink-page{
  padding: 30px;
}

.shrink-form{
  padding-top: 50px;
}

.emoji{
  width: 20px;
}

.interlink-logo{
  width: 180px;
}

.link-list{
  font-size: 1.2rem;
  width: 80%;
}

.link-item{
  padding: 10px;
}
